<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form method="post" action="/loginSuccess">

    账号: <input type="text" name="username">
    <br>
    <br>
    密码: <input type="password" name="password">
    <br>
    <a class="aaa" href="http://localhost:3000/password">忘记密码??</a>
    <br>
    <input value="登录" type="submit">
</form>


</body>
</html>
