<!DOCTYPE html>
<html>
<head>
  <title>登录页面</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form method="post" action="/password">
  用户名: <input type="text" required name="username">
  <br>
  <br>

  旧密码: <input type="password" required name="password">
  <br>
  <br>
  新密码: <input type="password" required name="password1">
  <br>
  <br>
  确认密码: <input type="password" required name="password2">
  <br>
  <br>
  <input value="确认" type="submit">
</form>


</body>
</html>
